  <!-- Page Wrapper -->
  <div id="wrapper">
    <app-sidebar></app-sidebar>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
  
      <app-navbar></app-navbar>
      <!-- Main Content -->
      <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">
  
          <!-- Page Heading -->
        
          <router-outlet></router-outlet>
  
        </div>
        <!-- /.container-fluid -->
  
      </div>
      <!-- End of Main Content -->
      <app-footer></app-footer>
    </div>
</div>
<!-- End of Page Wrapper -->

